/* Inserta tu codigo aqui */
#logo {    
    display: block;
    width: 200px;
}
#menu {
    margin-top: 70px;
    font-size: 1.5rem;
}
#menu li {
    display: inline-block;
}
.brote{
    background-image: url("../img/semilla.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    width: 100%;
}
#parrafo {
    font-size: 1rem;
    margin: 40px;
}
#mision {
    display: inline-block;
    width: 200px;  
}
#vision {
    display: inline-block;
    width: 200px;
}
.presentador {
    background-image: url("../img/metodo.JPG");
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
    width: 50%;
}
.metodologia {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: 50% 50%;
    float: right;
    height: 400px;
    width: 50%;
}
#metodologia_icono {
    display: block;
    width: 50px;
    vertical-align: 30px; 
    margin: 0 auto; 
}
#educacion, #mitigacion, #bienestar {
    display: inline-block;
    width: 100px;
}
#seguridad, #aguas, #agricultura {
    display: inline-block;
    width: 100px;
}
.proyectos{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 1000px;
    width: 100%;
}